.equipmentList {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    margin: 2rem auto;
    gap: 1rem;
  }
  
  .equipmentItem {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px; /* Adjust the width for three items per row */
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  .equipmentImage {
    width: auto;
    max-height: 100px;
    object-fit: contain;
    margin-top: 1rem;
  }
  
  .equipmentName {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  .equipmentDetail {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
  }
  
  .deleteButton {
    background-color: #ff4136;
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .deleteButton:hover {
    background-color: #e12f2f;
  }
  