



body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  
  background-color: orange;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(142, 143, 197);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #770681;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

